img{
    max-width: 100%;
}

/* header */
/* top header */
#ms-top-header{
    background-color: black;
}

#ms-top-header img{
    width: 20%; 
}
/* bot header */

#ms-bot-header{
    background-color: white;
}
/* jumbotron */

#jumbotron{
    background-image: url(../img/jumbo-bg.png);
    background-position: bottom;
    background-size: cover;
    height: 800px;
}

#jumbotron .ms-margin-top{
   margin-top: 100px !important;
}